@charset "UTF-8";
:root {
  --color-primary-normal: #06121e;
  --color-primary-dark: #040f1a;
  --color-primary-light: #0c2135;

  --color-secondary-normal: #090d11;
  --color-secondary-dark: #06090c;
  --color-secondary-light: #1a1f25;

  --color-black-normal: #232224;
  --color-black-dark: #161617;
  --color-black-light: #353436;

  --color-white-normal: #fff;
  --color-white-dark: #edeaef;
  --color-white-light: #fefbff;

  --color-brown-normal: #c4b39f;
  --color-brown-dark: #bb7437;
  --color-brown-light: #f7a975;
  --color-brown-extralight: #fdfbec;

  --color-whatsapp-normal: #25d366;
  --color-whatsapp-dark: #204f46;
}

/* ---------------- Layout ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--color-primary-normal);
}

a {
  cursor: pointer;
  text-decoration: none;
}

section {
  padding: 28px 5%;
}

/* ---------------- Header ---------------*/

header {
  display: flex;
  flex: 1 1 100vw;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-icons {
  display: flex;
  gap: 14px;
  i {
    color: var(--color-brown-extralight);
  }
}

.header-icons a:hover i {
  animation: translate_icon 0.5s infinite alternate;
  color: var(--color-brown-light);
}

@keyframes translate_icon {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-3px) scale(1.1);
  }
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 130px;
  padding-top: 10px;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-brown-extralight);
}

.nav-item a:hover {
  font-weight: 500;
  color: var(--color-brown-light);
}

/* ---------------- Main ---------------*/

.container {
  width: 100%;
  margin: 0 auto;
}
.bg-home {
  position: relative;
}
.bg-home::before {
  content: '';
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.3), #06121e),
    url('../assets/fire_flame_background.avif');
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}
.section-title {
  font-size: 2rem;
  color: var(--color-brown-dark);
  text-align: center;
  margin-bottom: 10px;
}
.section-subtitle {
  font-size: 1.5rem;
  color: var(--color-black-light);
  text-align: center;
  margin-bottom: 30px;
}
.btn-default {
  width: 230px;
  border: none;
  background-color: #c4b39f;
  border-radius: 12px;
  padding: 14px 15px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-primary-normal);
  font-size: 1.2rem;
  margin: 12px 0;
}
.btn-default a {
  color: var(--color-primary-normal);
}
.hero {
  color: var(--color-brown-extralight);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hero h1 {
  text-align: center;
  line-height: 100%;
  max-width: 100%;
  font-size: 25pt;
}
.hero span {
  color: var(--color-brown-dark);
}
.hero p {
  text-align: center;
  margin: 20px 30px;
  font-size: 15pt;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.button-whatsapp {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-whatsapp-normal);
  border-radius: 12px;
  padding: 14px 18px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-primary-normal);
  font-size: 1.2rem;
  margin: 14px 0;
}
.button-whatsapp i {
  color: var(--color-primary-normal);
  font-size: 20px;
  margin: 0 8px;
}
.button-whatsapp:hover {
  animation: translate_button 0.8s;
}
.button-contact {
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brown-normal);
  border-radius: 12px;
  padding: 14px 18px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-primary-normal);
  font-size: 1.2rem;
  margin: 14px 0;
  i {
    color: var(--color-primary-normal);
    font-size: 20px;
    margin: 0 8px;
  }
}
.button-contact:hover {
  animation: translate_button 0.5s;
}

@keyframes translate_button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}

/* ---------------- Section Services ---------------*/
.services {
  border-width: 5px;
  background-color: var(--color-brown-extralight);
  padding-top: 80px;
}
.services .rows-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services .row-card-item {
  background-color: var(--color-brown-normal);
  width: 350px;
  height: auto;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  strong {
    font-size: 1.2rem;
  }
}
.services .row-card-item:hover {
  background-color: var(--color-brown-extralight);
  margin-top: -1px;
}
.services .row-card-item img {
  border-radius: 15px;
  width: 70px;
  padding: 10px;
}
.services .row-card-item p.serv-name {
  margin-bottom: 15px;
  color: var(--color-black-light);
  transition: 0.5s;
}
.services .row-card-item p.serv-text {
  transition: 0.5s;
  color: var(--color-black-light);
}

/* ---------------- Section dados ---------------*/

.dados {
  background-color: var(--color-brown-extralight);
}
.dados-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dados .dados-item {
  padding: 3.5rem;
  color: rgba(0, 0, 0, 0.7450980392);
  text-align: center;
  background-color: var(--color-white-dark);
  transition: 0.3s;
}
.dados .dados-item:nth-child(1) {
  border-radius: 15px 0 0 15px;
}
.dados .dados-item:nth-child(3) {
  border-radius: 0 15px 15px 0;
}
.dados .dados-item:nth-child(2),
.dados .dados-item:nth-child(3),
.dados .dados-item:nth-child(4) {
  border-left: solid 2px var(--color-brown-normal);
}
.dados .dados-item img {
  background-color: var(--color-brown-normal);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  width: 70px;
  transition: 0.3s;
}
.dados .dados-item p {
  font-size: 18px;
  margin-bottom: 0px;
}
.dados .dados-item p strong {
  font-size: 28px;
}

/* ---------------- Section Testimonials ---------------*/

#testimonials {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-brown-extralight);
  padding: 80px 30px 80px 30px;
}
#testimonial_chef {
  width: 300px;
}
#testimonials_content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#testemonial_name {
  font-weight: 600;
}

/* ---------------- Section Footer ---------------*/
footer {
  background-color: var(--color-black-light);
  padding-bottom: 5%;
}
#footer_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#copyright,
#mailto {
  color: var(--color-brown-extralight);
}

/* -------------- Button Whatsapp ---------------*/
.whatsapp-container {
  padding: 15px 10px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #1ad03f;
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

/* -------------- RESPONSIVIDADE ---------------*/
@media screen and (max-width: 1170px) {
  #testimonials {
    flex-direction: column;
  }
  #testimonial_chef {
    display: none;
  }
  #testimonials_content {
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .btn-default {
    display: none;
  }
  #nav_menu {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-brown-dark);
    height: 50vh;
    display: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 10;
  }
  #nav_list {
    flex-direction: column;
    align-items: center;
  }
  #nav_list a {
    font-size: 12pt;
  }
  #openMenu,
  #closeMenu {
    display: block;
    color: var(--color-brown-extralight);
  }
  #openMenu {
    margin-left: auto;
    margin-top: -30px;
  }
  #closeMenu {
    position: fixed;
    margin-left: auto;
    right: 10px;
    top: 15px;
  }
  .header-content {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 20px;
  }
  .header-content .header-icons {
    gap: 20px;
  }
  .header-logo img {
    width: 200px;
  }
  .header-button {
    display: none;
  }
  .dados {
    display: none;
  }
  .button-contact {
    display: flex;
  }
  .hero {
    width: 100%;
    min-height: 80vh;
  }
  .hero p {
    font-size: 0.9rem;
  }
  .hero-buttons {
    display: block;
  }
  .button-whatsapp {
    font-size: 12pt;
  }
  .button-contact {
    font-size: 12pt;
  }
}

@media screen and (max-width: 540px) {
  .services .row-card-item {
    height: auto;
  }
  #servicos img {
    width: 18%;
  }
  #servicos .section-title,
  #testimonials .section-title {
    font-size: 1.5rem;
  }
  #servicos .section-subtitle,
  #testimonials .section-subtitle {
    font-size: 1.2rem;
  }

  .feedback {
    flex-direction: column;
  }
  #footer_items {
    flex-direction: column;
    gap: 20px;
    font-size: 0.95rem;
  }
}
